@model LibraryManagement.API.Models.PhieuMuon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PhieuMuon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayMuon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayMuon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongSachMuon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongSachMuon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HanTra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HanTra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaTra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaTra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDgNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDgNavigation.Cmnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNvNavigation.Cmnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
