@model X.PagedList.IPagedList<LibraryManagement.API.Models.PhieuMuon>
@using X.PagedList.Mvc.Core;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<h2>Quản lí phiếu mượn</h2>
<br />
@using (Html.BeginForm("Index", "PhieuMuon", FormMethod.Get))
{
    <p>
        Nhập tên nhân viên: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <button type="submit"><i class="fa fa-search"></i></button>
        <a class="btn btn-secondary" href="@Url.Action("Index")"><i class="fas fa-sync"></i></a>
    </p>
    <br />
}

@if (TempData["notice"] != null)
{
    if (TempData["notice"].ToString() == "Successfully create")
    {
        <div class="alert alert-success" role="alert">
            <strong>Thông báo! </strong>Thêm thông tin phiếu mượn: @TempData["phieumuon"] thành công
        </div>
        <br />
    }
    else
    if (TempData["notice"].ToString() == "Successfully edit")
    {
        <div class="alert alert-success" role="alert">
            <strong>Thông báo! </strong>Sửa thông tin phiếu mượn: @TempData["phieumuon"] thành công
        </div>
    }
    else if (TempData["notice"].ToString() == "Successfully delete")
    {
        <div class="alert alert-success" role="alert">
            <strong>Thông báo! </strong>Xóa thông tin phiếu nhập: @TempData["phieumuon"] thành công
        </div>
    }
    else if (TempData["notice"].ToString() == "Have result")
    {
        <div class="alert alert-info" role="alert">
            <strong>Tìm kiếm thành công! </strong>Có @TempData["dem"] kết quả trả về!
        </div>
    }
    else if (TempData["notice"].ToString() == "No result")
    {
        <div class="alert alert-danger" role="alert">
            <strong> Không có kết quả trả về!</strong>
        </div>
    }
    else if (TempData["notice"].ToString() == "Return late")
    {
        <div class="alert alert-danger" role="alert">
            <strong> Phiếu mượn: @TempData["phieumuon"] đã trả quá hạn! Đề nghị xử phạt</strong>
        </div>
    }
}

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create")';return false;"><i class="fas fa-plus"></i> Tạo mới</button>&nbsp;&nbsp;&nbsp;&nbsp;
</p>

<table class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Ngày mượn", "Index", new { sortOrder = ViewBag.NgayMuonSortParm })
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Tên nhà đọc giả
            </th>
            <th>
                Nhân viên tạo phiếu
            </th>
            <th>
                Đã trả
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                <p style="text-align:center">Chức năng</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayMuon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongSachMuon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDgNavigation.TenDg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNvNavigation.TenNv)
                </td>
                <td>
                    @if (item.DaTra)
                    {
                        <a href="#" type="button" class="btn btn-success">Đã trả</a>
                    }
                    else
                    {
                        <a href="#" type="button" class="btn btn-secondary">Chưa Trả</a>
                    }
                </td>
                <td>
                    @switch (item.TrangThai)
                    {
                        case 1:<a href="#" type="button" class="btn btn-primary">Đã tạo</a>
                            break;
                        case 2: <a href="#" type="button" class="btn btn-warning">Cho mượn</a>
                            break;
                        case 3: <a href="#" type="button" class="btn btn-success">Trả đúng hạn</a>
                            break;
                        case 4: <a href="#" type="button" class="btn btn-danger">Trả quá hạn</a>
                            break;
                    }
                </td>
                <td align="center">
                    <a class="btn btn-info" href="@Url.Action("Index", "CtphieuMuon",  new { phieuMuonId = item.Id })"><i class="fas fa-info-circle"></i></a>
                    <a class="btn btn-warning" href="@Url.Action("Edit",  new { id = item.Id })"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" href="@Url.Action("Delete",  new { id = item.Id })"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))