@model LibraryManagement.API.Models.CtphieuMuon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa sách mượn</h1>

<h3>Bạn chắc rằng muốn xóa sách này khỏi phiếu mượn?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookNavigation.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookNavigation.TenSach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookNavigation.TenSach)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrangSach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TinhTrangSach)
        </dd>
    </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <a class="btn btn-default" href="@Url.Action("Index", new {  phieuMuonId = Model.PhieuMuon  })">Trở lại</a>
        </form>
</div>
