@model LibraryManagement.API.Models.CtphieuMuon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thông tin chi tiết sách mượn</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookNavigation.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookNavigation.TenSach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookNavigation.TenSach)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrangSach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TinhTrangSach)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary"asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
    <a class="btn btn-default" href="@Url.Action("Index", new {  phieuMuonId = Model.PhieuMuon  })">Trở lại</a>
</div>
