@model LibraryManagement.API.Models.DocGia

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>Độc giả</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cmnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cmnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLanViPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLanViPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDangKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDangKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.TrangThai.Value)
            {
                <a href="#" class="btn btn-success">Hoạt động</a>
            }
            else
            {
                <a href="#" class="btn btn-danger">Vô hiệu hóa</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
    <a class="btn btn-default" asp-action="Index">Trở về</a>
</div>
